{template 'content','header'}
<!--banner start-->
<div class="other_banner" style=" background-image:url(images/other_banner.jpg);"></div>
<!--banner end-->
<!--搜索 start-->
<div class="search_bar">
	<div class="w_1000 o_a">
    	<p class="hot_srh f_l">热搜产品：{pc:block pos="hot_searchkey"}{/pc}</p>
         <div class="search bg f_r">
			{template "content","search_bar"}
		</div>
    </div>
</div>
<!--搜索 end-->
<div class="hr_12"></div>
<div class="main w_1000 o_a">
    <!--左栏 start-->
    <div class="col_sub f_l">
    	<div class="sidebar">
        	<h2 class="bg"><span class="txt">走进吉平</span><span class="english">about jiping</span></h2>
            <ul class="list">
                <li class="cur"><a href="intro.html">公司简介</a></li>
                <li><a href="culture.html">企业文化</a></li>
                <li><a href="superiority.html">我们的优势</a></li>
                <li><a href="activity.html">企业活动</a></li>
                <li><a href="honour.html">荣誉资质</a></li>
                <li><a href="speech.html">领导致辞</a></li>
            </ul>
        </div>
    	<div class="index_box contact_box">
            <div class="contact box">
                <div class="tab">
                    <h3 class="tit">联系电话</h3>
                    <p class="ff_yh fs_14 fw_b c_f60">0755-8963 6850 2810 2636</p>
                    <p><span class="tit fw_b">传真：</span><span>+86-0755-89636851</span></p>
                    <p><span class="tit fw_b">E-Mail：</span><span>13509662596@139.com</span></p>
                </div>
                <div class="tab">
                    <h3 class="tit">总部地址</h3>
                    <p class="c_666">深圳市龙岗区平湖华南城M13幢127号</p>
                </div>
                <div class="tab no_border"><img src="images/contact_img.jpg" alt="" /></div>
            </div>
        </div>
    </div>
    <!--左栏 end-->
    <div class="col_main f_r">
    	<div class="position bg_x"><span class="ico ico_home"></span><span class="link">您已经浏览到：<a href="/" title="">首页</a> &gt; <a href="{$CATEGORYS[$parentid][url]}" title="">{$CATEGORYS[$parnetid][catename]}</a> &gt; <span class="now">企业活动</span></span></div>
        <div class="main_content">
        	<div class="activity">
            	<ul class="list c_f" id="activityImg">
                	<li class="item">
                    	<div class="activity_bg">
                            <div class="c_img"><a class="fancybox" href="images/activity_img.jpg" data-fancybox-group="gallery" title=""><img src="images/activity_img_s.jpg" alt="" /></a></div>
                            <p class="pro_tit01 t_c">公司活动图片</p>
                        </div>
                    </li>
                    <li class="item">
                    	<div class="activity_bg">
                            <div class="c_img"><a class="fancybox" href="images/activity_img.jpg" data-fancybox-group="gallery" title=""><img src="images/activity_img_s.jpg" alt="" /></a></div>
                            <p class="pro_tit01 t_c">公司活动图片</p>
                        </div>
                    </li>
                    <li class="item">
                    	<div class="activity_bg">
                            <div class="c_img"><a class="fancybox" href="images/activity_img.jpg" data-fancybox-group="gallery" title=""><img src="images/activity_img_s.jpg" alt="" /></a></div>
                            <p class="pro_tit01 t_c">公司活动图片</p>
                        </div>
                    </li>
                    <li class="item">
                    	<div class="activity_bg">
                            <div class="c_img"><a class="fancybox" href="images/activity_img.jpg" data-fancybox-group="gallery" title=""><img src="images/activity_img_s.jpg" alt="" /></a></div>
                            <p class="pro_tit01 t_c">公司活动图片</p>
                        </div>
                    </li>
                    <li class="item">
                    	<div class="activity_bg">
                            <div class="c_img"><a class="fancybox" href="images/activity_img.jpg" data-fancybox-group="gallery" title=""><img src="images/activity_img_s.jpg" alt="" /></a></div>
                            <p class="pro_tit01 t_c">公司活动图片</p>
                        </div>
                    </li>
                    <li class="item">
                    	<div class="activity_bg">
                            <div class="c_img"><a class="fancybox" href="images/activity_img.jpg" data-fancybox-group="gallery" title=""><img src="images/activity_img_s.jpg" alt="" /></a></div>
                            <p class="pro_tit01 t_c">公司活动图片</p>
                        </div>
                    </li>
                    <li class="item">
                    	<div class="activity_bg">
                            <div class="c_img"><a class="fancybox" href="images/activity_img.jpg" data-fancybox-group="gallery" title=""><img src="images/activity_img_s.jpg" alt="" /></a></div>
                            <p class="pro_tit01 t_c">公司活动图片</p>
                        </div>
                    </li>
                    <li class="item">
                    	<div class="activity_bg">
                            <div class="c_img"><a class="fancybox" href="images/activity_img.jpg" data-fancybox-group="gallery" title=""><img src="images/activity_img_s.jpg" alt="" /></a></div>
                            <p class="pro_tit01 t_c">公司活动图片</p>
                        </div>
                    </li>
                    <li class="item">
                    	<div class="activity_bg">
                            <div class="c_img"><a class="fancybox" href="images/activity_img.jpg" data-fancybox-group="gallery" title=""><img src="images/activity_img_s.jpg" alt="" /></a></div>
                            <p class="pro_tit01 t_c">公司活动图片</p>
                        </div>
                    </li>
                </ul>
                <div class="list_page c_666 t_c"> 
                	<form action="">
                	<a href="javascript:" class="bg btn_prev" title="上一页">上一页</a>
                    <ol>
                        <li class="cur"> <a href="javascript:">1</a> </li>
                        <li> <a href="javascript:">2</a></li>
                        <li> <a href="javascript:">3</a></li>
                        <li> <a href="javascript:">4</a></li>
                        <li> <a href="javascript:">5</a></li>
                    </ol>
                    <b class="fw-b">... </b><a class="bg btn_next" href="javascript:" title="下一页">下一页</a> 
                    <span class="total">到<input type="text" maxlength="4" class="ipt_page">页<input class="bg btn_page" type="submit" value="确定"></span> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hr_20"></div>
{template 'content','footer'}