{template 'content','header'}
<!--banner start-->
{pc:block pos="aboutus_banner"}{/pc}
<!--banner end-->
<!--搜索 start-->
<div class="search_bar">
	<div class="w_1000 o_a">
    	<p class="hot_srh f_l">热搜产品：{pc:block pos="hot_searchkey"}{/pc}</p>
         <div class="search bg f_r">
			{template "content","search_bar"}
		</div>
    </div>
</div>
<!--搜索 end--> 
<div class="hr_12"></div>
<div class="main w_1000 o_a">
   <!--左栏 start-->
    <div class="col_sub f_l">
    	<div class="sidebar">
        	<h2 class="bg"><span class="txt">{if $parentid}{$CATEGORYS[$parentid][catname]}{else}{$CATEGORYS[$catid][catname]}{/if}</span><span class="english">{$CATEGORYS[1]['description']}</span></h2>
            <ul class="list">
             {pc:content action="category" catid="$parentid" num="10" siteid="$siteid" order="listorder ASC"}
                    {loop $data $r}
                        <li{if $catid==$r['catid']} class="cur"{/if}><a href="{$r[url]}" title="{$r[catname]}">{$r[catname]}</a></li>
                    {/loop}
                {/pc}
            </ul>
        </div>
    	<div class="index_box contact_box">
        
            <div class="contact box">
            {pc:block pos="index_contact"}{/pc}
                
                <div class="tab no_border">{pc:block pos="index_contact_img"}{/pc}</div>
            </div>
        </div>
    </div>
    <!--左栏 end-->
    <div class="col_main f_r">
    	<div class="position bg_x"><span class="ico ico_home"></span><span class="link">您已经浏览到：<a href="/" title="">首页</a> &gt; <a href="{$CATEGORYS[2][url]}" title="">{$CATEGORYS[$parentid][catname]}</a> &gt; <span class="now">企业活动</span></span></div>
        <div class="main_content">
        	<div class="activity">
               {pc:content action="lists" catid="$catid" num="1" order="id DESC" page="$page"}
             
                <ul  class="list c_f" id="activityImg">
                    {loop $data $r}
                    <li class="item">
                    <div  class="activity_bg">
                    <div class="c_img">
                    <a class="fancybox"  href="{$r[thumb]}" data-fancybox-group="gallery" title=""><img src="{thumb($r[thumb],150,0)}" width="150" height="112" alt="{$r[title]}"/></a>
                    </div>
                    <p class="pro_tit01 t_c">{str_cut($r[title],28)}</p>
                      </div>
                    </li>
                    {/loop}
                </ul>
                <div class="list_page c_666 t_c">{$pages}</div>
                 <input type="hidden" value="{$_SERVER['REQUEST_URI']}" id="now_url" />
               
            {/pc}
            </div>
        </div>
    </div>
</div>
<div class="hr_20"></div>
{template 'content','footer'}