<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}" />
<meta name="description" content="　{$SEO['description']}">
<link href="{CSS_PATH}style/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}jingping/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="{JS_PATH}jingping/MSClass.js"></script>
<script type="text/javascript" src="{JS_PATH}jingping/sl.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
	  	$.focus("#focus001");
	});
</script>
</head>

<body>
<!--头部start-->
<div class="header bg_x">
	<div class="w_1000 o_a">
		<h1 class="header_logo f_l">吉平化工</h1>
        <div class="header_r f_r">
        	<div class="map t_r"><a href="javascript:" title="会员注册">会员注册</a><a href="javascript:" title="登录">登录</a><a href="javascript:" title="网站收藏">网站收藏</a><a class="no_border" href="javascript:" title="设为主页">设为主页</a></div>
            <div class="contact"><span class="tel ff_yh fs_14"><b class="ico ico_tel"></b>咨询电话：<em class="fs_18">0755-8963 6850</em></span><a class="weibo" href="javascript:" title=""><b class="ico ico_tx"></b>腾讯微博</a><a class="weibo" href="javascript:" title=""><b class="ico ico_sina"></b>新浪微博</a></div>
        </div>
    </div>
</div>
<!--头部end-->
<!--导航start-->
<div class="nav_bar bg_x">
	<div class="w_1000 o_a">
    	<ul class="main_nav" id="mainNav">
        	<li class="item index"><a class="main cur" href="index.html">首页</a></li>
            <li class="item">
            	<a class="main" href="intro.html">走进吉平</a>
                <div class="sub_nav">
                    <ul>
                        <li><a href="intro.html">公司简介</a></li>
                        <li><a href="culture.html">企业文化</a></li>
                        <li><a href="superiority.html">我们的优势</a></li>
                        <li><a href="activity.html">企业活动</a></li>
                        <li><a href="honour.html">荣誉资质</a></li>
                        <li><a href="speech.html">领导致辞</a></li>
                    </ul>
                </div>
            </li>
            <li class="item">
            	<a class="main" href="product.html">产品中心</a>
            	<div class="sub_nav">
                    <ul>
                        <li><a href="product.html">环保水处理原料</a></li>
                        <li><a href="product.html">漂洗原料</a></li>
                        <li><a href="product.html">电镀原料</a></li>
                        <li><a href="product.html">日化原料</a></li>
                        <li><a href="product.html">环保清洗材料</a></li>
                        <li><a href="product.html">纺织印染助剂</a></li>
                        <li><a href="product.html">建筑外加剂原料</a></li>
                        <li><a href="product.html">稀有化工原料</a></li>
                        <li><a href="product.html">其它产品</a></li>
                    </ul>
                </div>
            </li>       
            <li class="item">
            	<a class="main" href="news.html">新闻动态</a>
            	<div class="sub_nav">
                    <ul>
                        <li><a href="news.html">公司新闻</a></li>
                        <li><a href="news.html">行业动态</a></li>
                        <li><a href="news.html">行业百科</a></li>
                    </ul>
                </div>	
            </li>
            <li class="item">
            	<a class="main" href="services.html">我们的服务</a>
            	<div class="sub_nav">
                    <ul>
                        <li><a href="services.html">服务领域</a></li>
                        <li><a href="services.html">销售网络</a></li>
                        <li><a href="services.html">售后服务</a></li>
                        <li><a href="faq.html">常见问题</a></li>
                    </ul>
                </div>	
            </li>
            <li class="item"><a class="main" href="hiring.html">诚聘英才</a></li> 
            <li class="item no_bg">
            	<a class="main" href="contact.html">联系我们</a>
            	<div class="sub_nav">
                    <ul>
                        <li><a href="contact.html">联系方式</a></li>
                        <li><a href="message.html">客户留言</a></li>
                    </ul>
                </div>
            </li>                                     
        </ul>
    </div>
</div>
<!--导航end-->